
<ion-view view-title="">


         <ion-nav-buttons side="right">
<a style="font-size: 27px; color: white ! important; background-color: transparent;" class="button bar-positive  ion-checkmark-circled disable-user-behavior">
        
      </a>
   </ion-nav-buttons> 


  <div class="" style="background-color: rgb(68, 138, 255); height: 127px ! important; margin-top: 44px ! important; position: fixed; z-index: 3; width: 100%;color: white">
          <div style="text-align: center">
				<p style="font-size: 25px;margin-bottom: 0px;">Seekerline</p>
				<p style="font-size: 13px;">Tu busqueda en linea</p>
          </div>
	<div class='busquedaPrincipal'>
		<div style="background-color: rgb(41, 121, 255);" class="list list-inset">
			<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Que buscas?">
			</label>
			<!--
			<label class="item item-input" style="margin-top: 15px;">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Donde lo buscas?">
			</label>
			-->
		</div>
	</div>
  </div>

  <ion-content style='top: 172px !important;background-color: rgb(238, 238, 238);'>



	            <div class="list">

	            	<label  class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal2.html')">
					<div  style="color: rgb(102, 102, 102); ">{{categoriaSeleccionada}}</div>
					</label>



					<label  class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal3.html')">
					<div  style="color: rgb(102, 102, 102); ">{{subcategoriaSeleccionada}}</div>
					</label>



        <label  class="borderBot item itemForms ">
          <div style="color: rgb(102, 102, 102); ">Filtros avanzados</div>
          </label>
		       
		          
               <label class="item itemForms ">
               
		           <ion-checkbox class='itemForms' ng-model="propuesta.chico" style='color: #666;font-size: 14px;'>Mejor calificado</ion-checkbox>
  					<ion-checkbox class='itemForms' ng-model="propuesta.chica" style='color: #666;font-size: 14px;'>Mas veces contactado</ion-checkbox>
  						<ion-checkbox class='itemForms' ng-model="propuesta.cercania" style='color: #666;font-size: 14px;'>Mas cercanos</ion-checkbox>
		           </label>





	          </div>








  </ion-conten>
</in-view>
