
<ion-view view-title="" hide-back-button="true">


         <ion-nav-buttons side="right" >
<a ng-click='buscar()' ng-show='enBusqueda' style="font-size: 27px; color: white ! important; background-color: transparent;" class="button bar-positive  ion-checkmark-circled disable-user-behavior">
</a>

<a ng-click='salirBusqueda()' ng-show='!enBusqueda' style="font-size: 27px; color: white ! important; background-color: transparent;" class="button bar-positive  ion-close-circled disable-user-behavior">
</a>

   </ion-nav-buttons> 

  <ion-content style='background-color: rgb(68, 138, 255);'>

<div class="" style="background-color: rgb(68, 138, 255); height: 127px ! important; position: relative; z-index: 3; width: 100%; color: white;">
          <div style="text-align: center">
				<p style="font-size: 25px;margin-bottom: 0px;">SKBuser</p>
				<p style="font-size: 13px;">Tu busqueda en linea</p>
          </div>
	<div class="busquedaPrincipal">
		<div style="background-color: rgb(41, 121, 255);" class="list list-inset">
			<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input class="ng-pristine ng-untouched ng-valid" placeholder="Que buscas?" ng-model="etiquetas.input" type="text">
			</label>
		</div>
	</div>
  </div>


	<div class="list" ng-show='!enBusqueda' >
		<div class='etiquetas'>
			<a ng-repeat='etiqueta in etiquetasItem'><i style='margin-right: 8px;' class='ion-ios-pricetags'></i>{{etiqueta}}</a>
		</div>	
		


                  <div class="card" style="background-color: #1565c0 ;">

                        <div class='item' style="text-align: center"><a style="color:#1565c0 !important">Resultados de la busqueda <i class='ion-star'></i></a></div>
                    

                        <div class='item itemFAV' ng-click="login(comercio.idComercio)" ng-repeat='comercio in resultadosBusqueda'>
                      <img src='http://seek-busines-services.com/API/img/logo_{{comercio.idComercio}}1'>
                      <div>
                          <a>{{comercio.nombreComercio}}</a>
                          <a>{{comercio.nombreCiudad}}</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>

                   
                  </div>
		

	</div>

	<div class="list" ng-show='enBusqueda' style="margin-bottom: 0px;width: 90%;margin-left: 5%;">

   <label class="item " style="margin-top: 6px;">
                 <textarea ng-model='propuesta.descripcion' style="width: 100%; height: 100px;" placeholder="Describe tu busqueda" maxlength="150"></textarea>
                 </label>


		<label style="margin-top: 4px !important" class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal2.html')">
			<div  style="color: rgb(102, 102, 102); ">{{categoriaSeleccionada}}</div>
		</label>
		<label  class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal3.html')">
			<div  style="color: rgb(102, 102, 102); ">{{subcategoriaSeleccionada}}</div>
			</label>
			<label  class="borderBot item itemForms ">
			<div style="color: rgb(102, 102, 102); ">Filtros avanzados</div>
		</label>
			<label class="item itemForms ">
			<ion-checkbox class='itemForms' ng-model="etiquetas.cercania" style='color: #666;font-size: 14px;'>Mas cercanos</ion-checkbox>

			</label>
      <input class='itemForms' style='width: 100%' ng-show='etiquetas.cercania' type="number" placeholder="5 Km"> </input>

			  <label class="borderBot item itemForms item-select">
    <div class="input-label">
      Pais
    </div>
  <select  ng-change='actualizarCiudad(etiquetas.pais)' ng-model='etiquetas.pais' style="background-color: rgb(234, 234, 234) ! important;">
      <option ng-repeat='pais in paises' value={{pais.idPais}}>{{pais.nombrePais}}</option>
     
    </select>
  </label>

    <label class="borderBot item itemForms item-select">
    <div class="input-label">
      Ciudad
    </div>
  <select ng-change='actualizarDistrito(etiquetas.ciudad)' ng-model='etiquetas.ciudad' style="background-color: rgb(234, 234, 234) ! important;">
        <option ng-repeat='ciudad in ciudades' value={{ciudad.idCiudad}}>{{ciudad.nombreCiudad}}</option>
    </select>
  </label>

    <label class="borderBot item itemForms item-select">
    <div class="input-label">
      Distrito
    </div>
  <select  ng-model='etiquetas.distrito' style="background-color: rgb(234, 234, 234) ! important;">
      <option ng-repeat='distrito in distritos' value={distrito.idDistrito}}>{{distrito.nombreDistrito}}</option>
    </select>
  </label>


	</div>
</ion-conten>
</in-view>
