<ion-nav-view>
      <ion-content>
 <!--             
<button style='  margin-top: 200px; border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);' ng-click='loginFacebook()'>LOGIN CON FACEBOOK</button>

           <div class="list text-center padding">
          
                 <div style="text-align:center;">
                  <img src="img/logo.jpg" width="100%" height="auto">
                </div>
          </div>-->
                  <div style="text-align: center; color: rgb(56, 126, 245); margin-top: 40px;">
                   <img class='imgLogo' src='icon.jpg'>
        <p class='titleText' style="font-size: 25px;margin-bottom: 0px;">SKBuser</p>
        <p style="font-size: 13px;">SEEK BUSINESS & SERVICES</p>
          </div>

          <form novalidate class='loginForm' name="loginForm" ng-submit="signIn(user)">
          <div class="list">
            <label class="itemLogin item item-input item-floating-label"  style="border: 1px solid gray;">
             <i class="iconLogin icon ion-person placeholder-icon"></i>
              <span class="input-label">Email</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
      
            <label class="itemLogin item item-input item-floating-label"  style="border: 1px solid gray;">
               <i class="iconLogin icon ion-locked placeholder-icon"></i>
              <span class="input-label">Contrasena</span>

              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Password"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->

          </div>
           <div class="padding-top">
    
            <input style='background-color: #387ef5;color: #fff;'type="submit" class="button button-block button-positive" value="Acceso">
            <!--
              <div  ng-click='loginFace()'class=" faceBtn button button-block button-positive"><p style="font-size: 16px;margin-top: 8px;">Login con Facebook</p></div>
              -->
           <p class="text-center padding-top">
           <!--
                <a style='color:#666 !important' ng-click='forgot()' class="button button-clear button-positive">Olvido?</a>
                -->

                <a style='color:#666 !important' href='#/registro' transitiontype="fade" go-native class="button button-clear button-positive">Registrarse</a>
                 <div  ng-click='loginFace()'class=" faceBtn button button-block button-positive"><p style="font-size: 16px;margin-top: 8px;"><i style="font-size: 20px; vertical-align: middle; margin-right: 13px;" class="ion-social-facebook"></i>Login con Facebook</p></div>
          </div>

   
        </form>    
      </ion-content>
      </ion-nav-view>