<ion-view view-title="">


           <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>  

   

  <ion-header-bar ng-click='abrirBusqueda()' class="bar bar-subheader bar-positive" style='height: 127px !important;'>
          <div style="text-align: center">
				<p style="font-size: 25px;margin-bottom: 0px;">Seekerline</p>
				<p style="font-size: 13px;">Tu busqueda en linea</p>
          </div>
	<div class='busquedaPrincipal'>
		<div style="background-color: rgb(41, 121, 255);" class="list list-inset">
			<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Que buscas?">
			</label>
			<!--
			<label class="item item-input" style="margin-top: 15px;">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Donde lo buscas?">
			</label>
			-->
		</div>
	</div>
        </ion-header-bar>




 <ion-tabs class="tabs-striped tabs-top tabs-icon-only tabsArreglo " delegate-handle="myhandle">
        <ion-tab title="Busca">
         <ion-content style='top: 221px; background-color: #eeeeee '>
         	   	<div class='tabContainer'>
                <div class="item" style="text-align: center; margin: 17px 10px; border-bottom: 3px solid #1565c0;"><a style="color:#1565c0 !important">Categorias populares</a></div>
							   <div class='rowFav favItems'>

                      <div ng-repeat='pop in pops'  class='colFav' >
                        <div class='itemTS' >
                        <a href="#/app/playlists/{{pop.idCategoria}}">
                        <img   src='{{pop.iconoCat}}'><br>
                        <a>{{pop.nombreCategoria}}</a>
                        </div>
                        </a>
                      </div>
                 
                 </div>
                  
  

                  <div class="card" style="background-color: #1565c0 ;">

                        <div class='item' style="text-align: center"><a style="color:#1565c0 !important">Favoritos <i class='ion-star'></i></a></div>
                    

                        <div class='item itemFAV' ng-click="login()" ng-repeat='comercio in favs'>
                      <img src='img/logo3.png'>
                      <div>
                          <a>{{comercio.nombreComercio}}</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>

                   
                  </div>
                
         	    </div>
              <div style="height: 250px"></div>
         </ion-content>

        </ion-tab  >
        <ion-tab title="Descubre">
         <ion-content  style='top: 221px; background-color: #eeeeee '>
         	   	<div class='tabContainer'>

         	</div>
         </ion-content>
        </ion-tab>
 </ion-tabs>


</ion-view>
