  
<ion-view view-title="Publicar comercio">



  <ion-content style='background-color: rgb(238, 238, 238);'>
<div style="height: 20px"></div>
 
<div id="container" ng-click='takePhoto(1)'>
    <div id="dummy"></div>
    <div style="" id="element">
    <div  ng-show="imgURI[1] == undefined">
    <i style="display: block; font-size: 24px; margin-top: calc(50% - 45px);" class="ion-android-add-circle">
    </i>
        Agregar Logo
        </div>

        <div  ng-show="imgURI[1] !== undefined">
          <img class='imagenPropuesta' ng-src="{{imgURI[1]}}" style="text-align: center">
        </div>
    </div>
</div>

 <!--
            <img src='img/camera.png' ng-click='takePhoto()'>
            -->
<div id="container" ng-click='takePhoto(2)'>
    <div id="dummy"></div>
    <div style="" id="element">
    <div  ng-show="imgURI[2] == undefined">
    <i style="display: block; font-size: 24px; margin-top: calc(50% - 45px);" class="ion-android-add-circle">
    </i>
        Agregar Foto
        </div>

        <div  ng-show="imgURI[2] !== undefined">
          <img class='imagenPropuesta' ng-src="{{imgURI[2]}}" style="text-align: center">
        </div>
    </div>
</div>

<div id="container" ng-click='takePhoto(3)'>
    <div id="dummy"></div>
    <div style="" id="element">
    <div  ng-show="imgURI[3] == undefined">
    <i style="display: block; font-size: 24px; margin-top: calc(50% - 45px);" class="ion-android-add-circle">
    </i>
        Agregar Foto
        </div>

        <div  ng-show="imgURI[3] !== undefined">
          <img class='imagenPropuesta' ng-src="{{imgURI[3]}}" style="text-align: center">
        </div>
    </div>
</div>


<!--
            <div>
        <center>
            <img class='imagenPropuesta' ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        </center>
            </div>
            -->
            </div>
              <div class="list">

        <label  class="borderBot item itemForms ">
          <div style="color: rgb(102, 102, 102); ">Tipo de negocio y/o Actividad</div>
          </label>
           
              
               <label class="item itemForms ">
               
               <ion-checkbox ng-click='cambTipo(0)' ng-checked='tipoE' class='itemForms' style='color: rgb(102, 102, 102);
font-size: 14px;
width: 45%;
display: inline-block;'>Empresa</ion-checkbox>
            <ion-checkbox   ng-click='cambTipo(1)'  ng-checked='tipoP' class='itemForms' style='color: rgb(102, 102, 102);
font-size: 14px;
width: 45%;
display: inline-block;'>Particular</ion-checkbox>
               </label>


<!--
           <label  class="borderBot item itemForms "  >
          <div style="color: rgb(102, 102, 102); ">{{labelNombre}}</div>
          </label>  
-->
              <label class="item item-input " style="margin-top: 5px;">
               <i class="icon ion-ios-compose placeholder-icon"></i>
                <input ng-model='propuesta.nombreComercio' type="text" placeholder="{{labelNombre}}">
              </label>

  <label class="borderBot item itemForms item-select">
    <div class="input-label">
      Tipo de identificacion
    </div>
  <select ng-model='propuesta.idTipoIdentificacion' style="background-color: rgb(234, 234, 234) ! important;">
      <option value="0">CC</option>
      <option value="1" selected="">NIT</option>
      <option value="2">DNI</option>
    </select>
  </label>

<!--
           <label  class="borderBot item itemForms "  >
          <div style="color: rgb(102, 102, 102); ">Identificacion</div>
          </label>
          -->
              <label class="item item-input " style="margin-top: 5px;">
              <i class="icon ion-clipboard placeholder-icon"></i>
                <input ng-model='propuesta.identificacionComercio' type="text" placeholder="Identificacion">
              </label>



                      <label  ng-controller='BusquedaCtrl' class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal2.html')">
          <div  style="color: rgb(102, 102, 102); ">{{categoriaSeleccionada}}</div>
          </label>
          <input style='width: 100%' ng-model='propuesta.nuevaCategoria' class='item item-input' ng-show='propuesta.idCategoria==99'placeholder="Otra categoria">



          <label ng-controller='BusquedaCtrl' class="borderBot item itemForms"  ng-click="openModal('fade-in-scale','my-modal3.html')">
          <div  style="color: rgb(102, 102, 102); ">{{subcategoriaSeleccionada}}</div>
          </label>


<!--
           <label  class="borderBot item itemForms ">
          <div style="color: rgb(102, 102, 102); ">Describe tu negocio o actividad</div>
          </label>
          -->

              
                <label class="item " style="margin-top: 6px;">
                    <i class="icon ion-ios-compose placeholder-icon"></i>
                 <textarea ng-model='propuesta.descripcionNegocio' style="width: 100%; height: 100px;" placeholder="Describe tu negocio o actividad" maxlength="150"></textarea>
                 </label>





              <label class="item item-input " style="margin-top: 5px;">
                        <i class="icon ion-ios-telephone"></i>
                <input ng-model='propuesta.numeroContacto' type="text" placeholder="Numero de contacto">
              </label>


              <label class="item item-input " style="margin-top: 5px;">
               <i class="icon ion-at"></i>
                <input ng-model='propuesta.correoElectronico' type="text" placeholder=" correoElectronico@info.com">
              </label>


           
              <label class="item item-input " style="margin-top: 5px;">
               <i class="icon ion-earth"></i>
                <input ng-model='propuesta.pagWeb' type="text" placeholder="www.mipagina.com">
              </label>

  <label class="borderBot item itemForms item-select">
    <div class="input-label">
      <i class='icon ion-flag'></i> Pais
    </div>
  <select  ng-change='actualizarCiudad(propuesta.idPais)' ng-model='propuesta.idPais' style="background-color: rgb(234, 234, 234) ! important;">

      <option ng-repeat='pais in paises' value={{pais.idPais}}>{{pais.nombrePais}}</option>
     
    </select>
  </label>
    <label class="borderBot item itemForms item-select">
    <div class="input-label">
            <i class='icon ion-location'></i> Ciudad
    </div>


      <select  ng-change='actualizarDistrito(propuesta.idCiudad)' ng-model='propuesta.idCiudad'  style="background-color: rgb(234, 234, 234) ! important;">
        <option ng-repeat='ciudad in ciudades' value={{ciudad.idCiudad}}>{{ciudad.nombreCiudad}}</option>
    </select>

  </label>

    <label class="borderBot item itemForms item-select">
    <div class="input-label">
       <i class='icon  ion-pin'></i> Barrio y/o Distrito
    </div>

      <select  ng-model='propuesta.idDistrito'  style="background-color: rgb(234, 234, 234) ! important;">
        <option ng-repeat='distrito in distritos' value={{distrito.idDistrito}}>{{distrito.nombreDistrito}}</option>
    </select>
  </label>


              <label class="item item-input " style="margin-top: 5px;">
               <i class="icon ion-map"></i>
                <input ng-model='propuesta.direccion' type="text" placeholder="Direccion">
              </label>


              <label class="item item-input " style="margin-top: 5px;">
               <i class="icon ion-ios-calculator"></i>
                <input ng-model='propuesta.codigoPostal' type="number" placeholder="Codigo Postal">
              </label>



              <label style="font-size: 11px; background-color: rgb(234, 234, 234); border: medium none;" ng-model="filter.blue" class="item item-checkbox ng-valid"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input value="on" style="" class="ng-untouched ng-valid ng-dirty ng-valid-parse" ng-model="filter.blue" type="checkbox"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ><span>Acepto los terminos y condiciones</span></div></label>




            </div>
           <div style="width: 80%; text-align: center; height: 50px; margin-left: 10%; line-height: 3; background-color: lightblue; color: rgb(102, 102, 102);" class="" ng-click="addComercio()">Publicar Comercio</div>
            <div style="height: 24px"></div>

             </ion-content>

             </ion-view>