
<ion-view view-title="{{subCat.nombre}}">
  <ion-content class="padding">
<div class="list">

                  <div class="card" style="background-color: #1565c0 ;">

                      <!--  <div class='item' style="text-align: center"><a style="color:#1565c0 !important">Favoritos <i class='ion-star'></i></a></div>
                      -->
                      <div class='item itemFAV' ng-click="login()">
                        <img src='img/logo3.png'>
                        <div>
                          <a>Olivia Pizza</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>

                      <div class='item itemFAV' ng-click="login()">
                        <img src='img/logo3.png'>
                        <div>
                          <a>Olivia Pizza</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>

                                              <div class='item itemFAV' ng-click="login()">
                        <img src='img/logo3.png'>
                        <div>
                          <a>Olivia Pizza</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>
                                              <div class='item itemFAV' ng-click="login()">
                        <img src='img/logo3.png'>
                        <div>
                          <a>Olivia Pizza</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>
                                              <div class='item itemFAV' ng-click="login()">
                        <img src='img/logo3.png'>
                        <div>
                          <a>Olivia Pizza</a>
                          <a>Calle Colmena</a>
                          <a><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i><i class='ion-star'></i></a>
                        </div>
                        </div>
                   
                  </div>



  </ion-conten>
</in-view>
